<div>

<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '""" + code + """', 'auto');
ga('send', 'pageview');
</script>
<script type="text/javascript" async="async" src="https://www.google-analytics.com/analytics.js" />
</div>
