<div class="col">
<div class="card-image waves-effect waves-block waves-light">
<img class="activator" src="{{path}}{{author.photo}}" />
<div 
        class="card-content">
        <span 
            class="card-title activator grey-text text-darken-4">
            {{author.name}}</span>
        <p>
            {{author.blurb}}</p>
</div>
</div>
{% include 'components/banner.html'%}

</div>


